* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    background: linear-gradient(135deg, black, rgb(50, 49, 49));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.wrapper .loader {
    background-color: white;
    height: 20px;
    width: 20px;
    margin-inline: 15px;
    border-radius: 50%;
    animation: load 0.9s ease infinite;
}

.wrapper .one {
    animation-delay: 0.3s;
}

.wrapper .two {
    animation-delay: 0.5s;
}

.wrapper .three {
    animation-delay: 0.7s;
}

.wrapper .four {
    animation-delay: 0.9s;
}


@keyframes load {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.5);

    }

}
